.reveal section img.logo {
    background: none;
    border: none;
    box-shadow: none;
    height: 35vh;
    padding: 20px;
}

.split {
    display: flex;
}
.split .left, .split .right {
    flex-grow: 1;
}

.reveal section .filename {
    margin-bottom: 5px;
    font-style: italic
}

.reveal section sup {
    font-size: 0.7em;
}

.reveal pre code {
     max-height: none;
}