doctype html
html(lang='en')
    head
        title JS 2016
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='bower_components/reveal-js/css/reveal.min.css')
        link(rel='stylesheet', href='bower_components/reveal-js/css/theme/moon.css')
        link(rel='stylesheet', href='bower_components/github-fork-ribbon-css/gh-fork-ribbon.css')
        link(rel='stylesheet', href='bower_components/highlightjs/styles/default.css')
        style
            include ./styles/common.css
    body
        a.github-fork-ribbon.right-top(href="https://github.com/purplecode/lightning-talk-js-2016" title="Fork me on Github")
        .reveal
            .slides
                include ./slides.jade
        script(src='bower_components/reveal-js/lib/js/head.min.js')
        script(src='bower_components/reveal-js/js/reveal.js')
        script.
            Reveal.initialize({
                progress: true,
                slideNumber: false,
                history: true,
                dependencies: [
                    {
                        src: 'bower_components/highlightjs/highlight.pack.min.js',
                        async: true,
                        callback: function () {
                            hljs.initHighlightingOnLoad();
                        }
                    }
                ]
            });
